body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.05)),
    url("image/bg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* max-height: 500px; */
}
.headingbar img {
  /* margin-top: 10px; */
  width: 90px;
}
.headingbar address {
  color: wheat;
  font-size: 20px;
  margin-left: 10px;
}
.headingbar h1 {
  color: white;
  margin-left: 10px;
}
.Test {
  width: auto;
  text-align: center;
  border: 1px solid white;
  color: beige;
  border-radius: 30px;
  background-color: rgba(0, 0, 255, 0.288);
}
.noticeBoard {
  width: auto;
  /* border: 2px solid red; */
}
.noticeBoard h1 {
  font-size: 50px;
  font-weight: 700;
  color: azure;
  border: 1px solid gold;
  background-color: rgba(39, 39, 39, 0.486);
  padding: 10px;
  border-radius: 30px;
}
@media (max-width: 576px) {
  .noticeBoard h1 {
    font-size: 50px;
    font-weight: 700;
    color: azure;
    border: 1px solid gold;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
  }
}
.noticeBoard p {
  font-size: 18px;
  /* font-weight: 700; */
  color: azure;
  border: 1px solid gold;
  background-color: rgba(39, 39, 39, 0.514);
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
}
.noticeBoard .highlight {
  color: rgb(12, 12, 12);
  background-color: rgba(255, 255, 0, 0.842);
  font-size: 21px;
}
.noticeBoard .highlight2 {
  color: red;
  background-color: black;
}

.noticeBoard h4 {
  font-size: 20px;
  /* font-weight: 700; */
  color: azure;
  border: 1px solid gold;
  background-color: rgba(39, 39, 39, 0.486);
  padding: 10px;
  border-radius: 30px;
}

.testBtn {
  background-color: rgb(255, 238, 0);
  color: red;
  padding: 10px;
  /* margin: 10px 0; */
  border: 2px solid red;
  border-radius: 10px;
  text-decoration: none;
  transition: ;
}

.testBtn:hover {
  color: yellow;
  background-color: red;
}
#nurulAkher {
  display: block;
}
#roniNath {
  display: none;
}
.nav-link {
  color: red !important;
}
.nav-link:hover {
  background-color: black !important;
}
#secondHero {
  display: none;
}
/* pop up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup img {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
}
.popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}
.popup .message {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.37);
  border-radius: 10px;
}
.popup .link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-out;
  /* background-color: yellow; */

  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgb(255, 17, 0);
}
.close-button:hover {
  transform: rotate(380deg);
}
